premier_rendu/rendu.out
premier_rendu/rendu.log
premier_rendu/rendu.aux
premier_rendu/rendu.pdf
premier_rendu/rendu.fls
premier_rendu/rendu.fdb_latexmk


soutenance/diapo.aux
soutenance/diapo.out
soutenance/diapo.tex
soutenance/diapo.log
soutenance/diapo.pdf
soutenance/diapo.toc
soutenance/diapo.nav
soutenance/diapo.snm
